###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
/.idea/
/web/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/data/xml/*.xml

###> symfony/webpack-encore-pack ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###