 <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheet %}{% endblock %}
    </head>

        {%  block body %}{% endblock %}

            <script src="{{ asset('build/js/app.js') }}"></script>
            {% block JSloadWhenPageIsReady %}

            {% endblock %}

        </div>
    </body>
</html>
