
<div class="col-lg-{{ size }} col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">

                <div style="height: 60px;">
                    <div style="Position:absolute;left:5px;top:2px;font-size: 30px;"><i class="{{ iconClasses }}"></i></div>
                    <div style="Position:absolute;left:42px;top:0px;font-size: 22px;font-weight: bold;white-space: nowrap;">{{ label }}</div>
                    <div style="Position:absolute;left:44px;top:28px;font-size: 18px;font-weight: bold;white-space: nowrap;">{{ value }}</div>
                </div>
            </div>
        </div>
    </div>
