<table id="{{ id }}" class="table table-bordered table-striped" style="cursor:pointer">
    <tbody>
    <td colspan="7" class="dataTables_empty" >Chargement des données serveur ...</td>
    </tbody>
</table>