{% extends 'component/abstract-form-component.html.twig' %}
{% block htmlComponent %}

    <label class="control-label">{{ label }}</label>
    <div class="">
        <input id="inputsearch{{ id }}" type="text" class="form-control" placeholder="{{ placeholder }}"/>

    </div>


{% endblock %}
